@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');

*{
    --pale-silver: #C7BEB6ff;
--beaver: #AF8B76ff;
--liver-chestnut: #91664Eff;
--liver-chestnut-2: #967059ff;
--cafe-au-lait: #A87759ff;
}

body {
    background-color: var(--cafe-au-lait);
    font-family: "Rowdies", cursive;
}

#splash-image{
    width: 500px;
}

#splash-image2{
    width: 500px;
}

#splash-image3{
    width: 500px;
}

#splash-image4{
    width: 500px;
}

#info{
    color: var(--pale-silver);
}

.hide{
    display: none;
}

@media (min-width: 700px) {
    body {
display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: "col1 col2";
    }

    img {
grid-area: col2;
    }

    #info {
grid-area: col1;
    }
}

@media (max-width: 400px) {
    body {
font-size: 2rem;
    }
}